<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free movie catalogue for you">
  <link rel="icon" href="./favicon.jpeg">

  <!-- font -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
 
  <title>E-ADM Wonoyoso</title>
</head>
<body>

  <!-- Head -->
  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
      
      <img src="./Logo.png" alt="Logo PemDes Wonoyoso">
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="#/">Beranda</a></li>
        <li><a href="#/layanan">Layanan</a></li>
      </ul>
    </nav>
  </header>

  

  <!-- Main -->
    <main id="mainContent">
    </main>
  
  <!-- Footer -->
  <footer>
    <p>Copyright from m18 <a href="https://themoviedb.org" target="_blank" rel="noreferrer"></a></p>
  </footer>
</body>
</html>